<div class="row justify-content-center">
	<table class="table table-hover ol-10">
		<tbody>
			<% skaters.each do |skater| %>
                <tr>
	                <td><%= link_to skater_path(skater) do %>
	                	<%= attachment_image_tag skater, :profile_image, class:"profile-image rounded-circle ml-3", size: '50x50', fallback: "no_image.svg" %>
	                	<% end %>
	                </td>
	                <td><%= link_to skater_path(skater), class:"skater-link" do %>
	                	<%= skater.name %>
	                	<% end %>
	                </td>
	            </tr>
            <% end %>
        </tbody>
    </table>
</div>