<div class="body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="profile-image col-2">
				<%= attachment_image_tag @skater, :profile_image, class:"profile-image rounded-circle float-right", size: '100x100', fallback: "no_image.svg" %>
			</div>
			<div class="profile col-4">
				<h5 class="text-center pl-3"><%= @skater.name %> <%= link_to edit_skater_path(@skater.id)do %><i class="far fa-edit float-right"></i><% end %></h5><br />
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="wrap">
	      		<ul id="tab-menu" class="clearfix">
	        		<li><a href="#profile" class="active">PROFILE</a></li>
	        		<li><a href="#my-videos" class="">MY VIDEOS</a></li>
	      		</ul>

	      		<div id="tab-contents" class="clearfix">
	        		<div id="profile" class="tab">

	        		</div>

	        		<div id="my-videos" class="tab">
	        			<%= render "posts/videos", posts: @posts %>
	        		</div>
	        	</div>
	        </div>
		</div>
	</div>
</div>
