<div class="body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="profile-image col-3">
				<%= attachment_image_tag @skater, :profile_image, class:"profile-image rounded-circle", size: '100x100', fallback: "no_image.jpg" %>
			</div>
			<div clas="profile col-4">
				<%= @skater.name %>  <%= link_to "EDIT", edit_skater_path(@skater.id), class:"btn btn-success btn-sm" %><br />
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="wrap">
	      		<ul id="tab-menu" class="clearfix">
	        		<li><a href="#profile" class="active">PROFILE</a></li>
	        		<li><a href="#my-videos" class="">MY VIDEOS</a></li>
	      		</ul>

	      		<div id="tab-contents" class="clearfix">
	        		<div id="profile" class="tab">
	          			
	        		</div>

	        		<div id="my-videos" class="tab">
	        			<%= render "posts/videos", posts: @posts %>
	        		</div>
	        	</div>
	        </div>
		</div>
	</div>
</div>
