
	<div class="container" style="height: auto;">
		<div class="row">
			<div class="form-header">
				<h4 class="form-header-title text-left">スケートパークの編集</h4>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form col-10">
				<%= render "form", park: @park, country: @country %>
			</div>
		</div>
	</div>

