<div class="container pt-5" style="height: auto;">
	<div class="row justify-content-center mt-0">
		<div class="about-skatermap col-10">
			<h3>Skatermap</h3>
			<p>このサイトは、もっとたくさんの人にスケートボードを知ってもらい、<br>
				いろいろな挑戦をしてもらうための動画・情報サイトです。<br>
				自分の技や、様々な場所でスケートする動画を投稿でき、<br>
				他のスケーターの動画を見て、コメントを残したり、フォローしたりできます。</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="about-videos col-10">
			<h4>VIDEOS</u></h4>
			<p>ログインしなくても、限られた数の動画は試聴できますが、<br>
					投稿したり、コメントをしたりなどのツールを使用するにはアカウント作成が必要です</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="about-skatermap col-10">
			<h3>Parks</h3>
			<p>新しいスケボパークを見つけたら、ぜひ登録してください。スケートパーク一覧画面から名前検索して、登録済みか確認できます。動画にどこのパークで撮影したかの情報を加えることもできます。</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="about-videos col-10">
			<h4>COUNTRIES</u></h4>
			<p>国情報を登録できます。今まで行ったことのある国の情報を入れて、みんなに共有できます。日本とは違う、習慣や、注意点などを他の人と共有してください。</p>
		</div>
	</div>
</div>


