<div class="body">
	<div class="container">
		<section class="about-skatermap">
			<h3><u>Skatermap</u></h3>
			<p class="lead">このサイトは、もっとたくさんの人にスケートボードを知ってもらい、<br>
				いろいろな挑戦をしてもらうための動画・情報サイトです。<br>
				自分の技や、様々な場所でスケートする動画を投稿でき、<br>
				他のスケーターの動画を見て、コメントを残したり、<br>
				お気に入りのスケーターをフォローして、DMでアドバイスや<br>
				情報の交換などができます。</p>
		</section>
		<section class="about-videos">
			<h4><u>VIDEOS</u></h4>
			<p>ログインしなくても、限られた数の動画は試聴できますが、<br>
				投稿したり、コメントをしたりなどのツールを使用するには<br>
			アカウント作成が必要です</p>
		</section>
	</div>
</div>

