
	<div class="container" style="height: auto;">
		<div class="row">
			<div class="form-header">
				<h4 class="form-header-title text-left">新しいCountryの登録</h4>
			</div>
		</div>
		<%= render "form", country: @country %>
	</div>

