<div class="container pt-3" style="height: auto;">
	<div class="row mt-0">
		<h3>VIDEOS</h3>
		<div id="videos">
			<%= render partial: 'posts/videos', locals: {posts: @posts} %>
		</div>
		<div class="page-load-status">
			<div class="infinite-scroll-request">
				loading... <br>
			<%= paginate @posts %>
			</div>
			<p class="infinite-scroll-last">
				end of contents
			</p>
		</div>
	</div>
</div>



