<div class="container pt-5" style="height: auto;">
	<div class="form-header mt-0">
		<h3 class="form-header-title text-left">新規投稿作成</h3>
	</div>
	<div class="row justify-content-center">
		<%= render "form", post: @post %>
	</div>
</div>
