// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prev, .next {
	color: #000;
	text-decoration: none;
	&:hover {
	  color: #9d8e87;
	  text-decoration: none;
	}
}
