// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 400px;
  background-color: rgba(255, 255, 255, 1);
}
.image1 {
  background-image: url(image1.jpg);
}
.image1 p, .image2 p, .image3 p, .image4 p {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em 2em;
  bottom: 1em;
  right: 1em;
  a {
    color: #000;
  }
  a:hover {
    color: #000;
  }
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
  background-size: cover;
  background-position: buttom center;
}
.image4 {
  background-image: url(image4.jpg);
}
.headline {
	margin-bottom: 1em;
	border-bottom: 2px dashed #9d8e87;
}
.link {
  color: lightgrey;
  text-decoration: none;
  margin-left: 2em;
}
.link:hover {
  color:lightgrey;
  text-decoration:none;
}

.post {
  text-height: auto;
}
.about-skatermap {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #99CCCC;
  border-right: double 7px #99CCCC;
  h3 {
    color: #99CCCC;
  }
  p {
    margin: 0;
    padding: 0 3em;
  }
}
.about-videos {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #f08080;
  border-right: double 7px #f08080;
  h4 {
    color: #f08080;
  }
  p {
    margin: 0;
    padding: 0 3em;
  }
}
