// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 400px;
  background-color: rgba(255, 255, 255, 1);
}
.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
  background-size: cover;
  background-position: buttom center;
}
.image4 {
  background-image: url(image4.jpg);
}
.headline {
	margin-bottom: 1em;
	border-bottom: 2px solid #9d8e87;
}
.link {
	color: #000;
	text-decoration: none;
}
a .link:hover {
	text-decoration: none;
}
