// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.park li {
	float: left;
	margin: 1em;
}
#map {
	height: 150px;
	width: 270px;
}
.image {
	margin: 1em;
}
.park-name {
	border-bottom: 2px solid #9d8e87;
	.btn {
	float:right;
	}
	.btn:nth-child(2) {
	color: red;
	}
}
.park-link {
  color: #000;
  text-decoration: none;
}
.park-link:hover {
  color: #9d8e87;
  text-decoration: none;
}
