// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.park li {
	float: left;
}
#map {
	height: 150px;
	width: 270;
}