// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
	border-top: 1px solid #9d8e87;
	padding: 3em;
}
div .profile-image {
	padding: 0;
}
.post {
	float: left;
	padding-left: 3px;
	span {
		margin-top: 5px;
		a {
		 text-decoration: none;
		 color: #000;
		}
	}
	.btn {
		padding: 0;
	}
}
.post-comments {
	h5 {
		border-bottom: 1px solid #9d8e87;
	}
}
.comment-text {
	padding: 0;
	p {
		margin: 0;
	}
}
.comment-body {
	padding: 0;
}
