// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
	border-top: 1px solid #9d8e87;
	padding: 3em;
}
.post {
	span {
		margin-top: 5px;
	}
}