// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
	border-top: 1px solid #9d8e87;
	padding: 1em;
}
.post {
	float: left;
	padding-left: 3px;
	margin-bottom: 3px;
	span {
		margin-top: 3px;
		max-width: 128px;
		font-size: 0.7em;
		a {
		 text-decoration: none;
		 color: #000;
		}
	}
	.btn {
		padding: 0;
	}
	p .park-link {
		text-decoration: none;
		color: #000;
	}
	p .park-link:hover {
		text-decoration: none;
		color: #9d8e87;
	}
}
.favorite-button {
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: none;
	}
}
.comments {
	h5 {
		border-bottom: 1px solid #9d8e87;
	}
	.comments-content {
		height: 500px;
		.row:hover {
			background: #f0fff0;
		}
	}
}