// Place all the styles related to the skaters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row:first-child {
  margin-buttom: 10px auto;
}
.row {
  margin: 2em;
}
.wrap {
	width: 100%;
}

#tab-menu {
  margin: 0;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 50%;
}

#tab-menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #9d8e87;
  border: 2px solid #9d8e87;
  border-bottom:none;
  color:#fff;
}

#tab-menu .active {
  border: 2px solid #9d8e87;
  border-bottom:none;
  background: #fff;
  color: #9d8e87;
}

#tab-contents .tab{
  height: auto;
  padding: 5px;
  background: #fff;
  border: 2px solid #9d8e87;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}

.profile-image {
  padding:1px;
  border: 1px solid #FF7F50;
}
.profile {
  i {
    color: #9d8e87;
    margin-left: 1em;
  }
  .follow-buttons {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .dropdown {
      margin-right: 2em;
      .follow-link {
        color: #000;
        text-decoration: none;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
    .follow-button {
      font-size: 100%;
      position: relative;
      display: inline-block;
      padding: 0.3em 0.3em;
      text-decoration: none;
      border: none;
      border-radius: 3px;
      background: #9d8e87;
      color: white;
      transition: .4s;
      i {
        color: white;
        margin: 0;
      }
    }
    .follow-button:hover {
      color: #9d8e87;
      background-color:#ECECEC;
      i {
        color: #9d8e87;
        margin: 0;
      }
    }
  }
}
.skater-link {
  color: #000;
  text-decoration: none;
}
.skater-link:hover {
  color: #9d8e87;
  text-decoration: none;
}
.skater-me {
  position: relative;
  display: inline-block;
  margin: 1em 0 1em 5em;
  padding: 3px;
  width: 10%;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
  background: #008080;
  font-size: 0.7em;
  border-radius: 50%;
  box-sizing: border-box;
  &:before {
    content: "";
    position: absolute;
    left: -1em;
    width: 0.8em;
    height: 0.8em;
    bottom: 0.3em;
    border-radius: 70%;
    background: #008080;
  }
  &:after {
    content: "";
    position: absolute;
    left: -2em;
    width: 0.5em;
    height: 0.5em;
    bottom: 0.2em;
    border-radius: 80%;
    background: #008080;
  }
}
.skater-is_deleted {
  margin-left: 5em;
  size: 0.7em;
  color: #008080;
}

div .search-form {
  .form-group {
    border-bottom: 1px solid #9d8e87;
    .search {
      border: none;
      float: right;
    }
    .btn {
      color: #000;
        text-decoration: none;
        float: right;
    }
    .btn:hover {
      color: #9d8e87;
        text-decoration: none;
    }
  }
}
h4 {
  font-weight: bold;
}
.content {
  position: relative;
  padding:0.25em 1em;
  p {
    margin: 0;
    padding: 0;
  }
}
.content:before,.content:after {
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
.content:before {
  border-left: solid 2px #99CCCC;
  border-top: solid 2px #99CCCC;
  top:0;
  left: 0;
}
.content:after {
  border-right: solid 2px #99CCCC;
  border-bottom: solid 2px #99CCCC;
  bottom:0;
  right: 0;
}